body
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#header {
  font-family: "Lucida Handwriting", cursive;
}

.block {
  height: 340px;
  width: 400px; 
  position: relative;
}

img {
  position: center;
  width: 400px;
  height: 300px;

}

button {
  position: absolute;
  width: 60px;
  height: 30px;
  justify-content: center;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
}

.yesButton {
  transition: 0s;
}